<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="character.css">
  </head>
  <body>
    <h1>Avengers Characters Cast</h1>
    <table>
      <tr>
        <td><img src="img/ironMan.jpg" alt=""></td>
        <td><img src="img/RDJ.jpg" alt=""></td>
      </tr>
      <tr>
        <td><img src="img/captain.jpg" alt=""></td>
        <td><img src="img/chrisE.jpg" alt=""></td>
      </tr>
      <tr>
        <td><img src="img/thor.jpg" alt=""></td>
        <td><img src="img/chrisH.jpg" alt=""></td>
      </tr>
      <tr>
        <td><img src="img/hulk.webp" alt=""></td>
        <td><img src="img/mark.jpg" alt=""></td>
      </tr>
      <tr>
        <td><img src="img/blackwid.jpg" alt=""></td>
        <td><img src="img/scar.jpg" alt=""></td>
      </tr>
      <tr>
        <td><img src="img/marvel.jpg" alt=""></td>
        <td><img src="img/Brie.jpg" alt=""></td>
      </tr>
    </table>

  </body>
</html>
